<!-- Start of My Account Wrapper -->
<div class="my-account-wrapper pb-20">
    <div class="container-fluid">
        <div class="row">
           

            
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="section-title left-aligned">
                <h3>Add new address</h3>
            </div>
            <form action="/addAddressOrder" method="POST">

          

                <div class="form-row mb-3">
                    <div class="form-group col-12 col-sm-12 col-md-12">
                        <label for="p_address">Address <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="address" id="p_address" required>
           
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="form-group col-12 col-sm-12 col-md-6">
                        <label for="city_name">City <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="city"  id="city_name" required>
                    </div>

                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-12 col-sm-12 col-md-6">
                        <label for="province_name">Province <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="province"  id="province_name" required>
                        <input type="text" class="form-control" name="user" id="user" value="{{id}}" hidden>
                    </div>

                </div>


                <div class="form-row mb-3">
                    <div class="form-group col-12 col-sm-12 col-md-6">
                        <label for="zip_code">Zip Code <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" name="zip"  id="zip_code" required>
                    </div>

                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-12 col-sm-12 col-md-6">
                        <label for="tel_number">telephone</label>
                        <input type="tel" class="form-control" name="mobile"  id="tel_number">
                    </div>

                </div>
                <div class="register-box d-flex justify-content-end mt-half">
                    <button type="submit" class="btn btn-secondary">Save</button>
                </div>
            </form>

        </div>
    </div> <!-- end of row -->
</div> <!-- end of container -->
</div>
<!-- End of My Account Wrapper -->

<!-- scroll to top -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div> <!-- /End Scroll to Top -->

<!-- footer area start -->
<footer>
    <!-- news-letter area start -->
    <div class="newsletter-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="newsletter-box">
                        <div class="newsletter-inner">
                            <div class="newsletter-title">
                                <h3>Sign Up For Newsletters</h3>
                                <p>Be the First to Know. Sign up for newsletter today</p>
                            </div>
                            <div class="newsletter-box">
                                <form id="mc-form">
                                    <input type="email" id="mc-email" autocomplete="off" class="email-box"
                                        placeholder="enter your email">
                                    <button class="newsletter-btn" type="submit" id="mc-submit">subscribe !</button>
                                </form>
                            </div>
                        </div>
                        <div class="link-follow">
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://plus.google.com/discover"><i class="fa fa-google-plus"></i></a>
                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div><!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
    <!-- news-letter area end -->
    <!-- footer top area start -->
    <div class="footer-top pt-50 pb-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-single-widget">
                        <div class="widget-title">
                            <div class="footer-logo mb-30">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo-sinrato.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <p>We are a team of designers and developers that create high quality Magento, Prestashop,
                                Opencart.</p>
                            <div class="payment-method">
                                <h4>payment</h4>
                                <img src="assets/img/payment/payment.png" alt="">
                            </div>
                        </div>
                    </div>
                </div> <!-- single widget end -->
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-single-widget">
                        <div class="widget-title">
                            <h4>Information</h4>
                        </div>
                        <div class="widget-body">
                            <div class="footer-useful-link">
                                <ul>
                                    <li><a href="about.html">about us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- single widget end -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-single-widget">
                        <div class="widget-title">
                            <h4>contact us</h4>
                        </div>
                        <div class="widget-body">
                            <div class="footer-useful-link">
                                <ul>
                                    <li><span>Address:</span> 4710-4890 Breckinridge St,Fayetteville, NC 28311</li>
                                    <li><span>email:</span> support@sinrato.com</li>
                                    <li><span>Call us:</span> <strong>1-1001-234-5678</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- single widget end -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-single-widget">
                        <div class="widget-title">
                            <h4>Our Twitter Feed</h4>
                        </div>
                        <div class="widget-body">
                            <div class="twitter-article">
                                <div class="twitter-text">
                                    Check out "Alice - Multipurpose Responsive #Magento #Theme" on #Envato by <a
                                        href="#">@sinratos</a> #Themeforest <a href="#">https://t.co/DNdhAwzm88</a>
                                    <span class="tweet-time"><i class="fa fa-twitter"></i><a href="#">30 sep</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- single widget end -->
            </div>
        </div>
    </div>
    <!-- footer top area end -->
    <!-- footer bottom area start -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom-content">
                        <div class="footer-copyright">
                            <p>Copyright © 2019 <a href="#">sinratos</a>. All Right Reserved</p>
                        </div>
                        <div class="footer-custom-link">
                            <a href="#">Brands</a>
                            <a href="#">Specials</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom area end -->
</footer>
<!-- footer area end -->

<!-- all js include