<h1 style="text-align: center;">Your order have been placed successfully</h1>
<div id="btn" class="text-center mt-5">
 <a style="text-align: center; " href="/order"><button style="min-width: 250px; min-height: 50px;" id="btn" class="btn-primary large">View My Order</button></a>


</div>
